  <div class="welcome-section">
    <h1>Добро пожаловать на EventAdvisor</h1>
  </div>
  <div class="feature-section">
    <div class="feature-block">
      <h2>Современный и простой в использовании</h2>
      <p>EventAdvisor предоставляет удобный и интуитивно понятный инструмент для планирования и организации мероприятий любого масштаба. Управляйте событиями легко и эффективно.</p>
    </div>
    <div class="feature-block">
      <h2>Совместное участие</h2>
      <p>Отслеживайте предстоящие мероприятия ваших друзей и присоединяйтесь к ним, чтобы помочь в подготовке или просто насладиться временем вместе.  </p>
    </div>
    <div class="feature-block">
      <h2>Интересные события поблизости</h2>
      <p>Откройте для себя интересные события, происходящие рядом с вами. Обзорная информация о локальных мероприятиях поможет с выбором времяпрепровождения.</p>
    </div>
  </div>