<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил смену пароля от этого аккаунта. Вы можете это сделать по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали это, то просто проигнорируйте письмо.</p>
<p>Ваш пароль не поменяется, пока Вы сами не изммените его по ссылке выше.</p>
